livekit-agents[openai, cartesia, elevenlabs, deepgram, silero, turn-detector, elevenlabs, azure]>=1.2
livekit-plugins-noise-cancellation~=0.2
livekit-agents[turn-detector]
python-dotenv>=1.0
aiohttp
tzdata
pytest
pytest-asyncio